######## USER IGNORE ###########
# ignore pictures
*.jpg
*.png
# ignore Jupyter notebooks
*.ipynb
*.ipynb_checkpoints
#ignore python support files
__pycache__
# ignore Comsol, oommf. 
Comsol/
Oommf/
mumax/
mumax_new_version/
Muview/
MultiVu/
ParaView/
Vampire/
fitting/

###### SYSTEM IGNORE #######
# ignore logs
logs
*.log
# ignore env files
*.env
# ignore IDE specific files
.vscode/
